<div class="modal fade" id="Modal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div ng-if="vm.status == 200">
            <div class="alert alert-danger">
                {{vm.messageStatusEmail}}
            </div>
        </div>
        <div ng-if="vm.status != 200 && vm.status != null">
            <div class="alert alert-danger">
                {{vm.messageStatusEmail}}
            </div>
        </div>
        <p class="text-center" style="text-align: center" ng-show="loadingEmail">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>
        <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLabel">Lấy mật khẩu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <input type="email" class="form-control form-control-lg" ng-model="email"
                       placeholder="Mời bạn nhập email vào đây" aria-label="Mời bạn nhập email vào đây"
                       ng-required=true>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" ng-click="vm.sendMail()" class="btn btn-primary">Lấy mật khẩu</button>
        </div>
    </div>
</div>
</div>
<div class="main-wrapper">

    <div class="preloader" style="display: none;">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="auth-wrapper d-flex  justify-content-center align-items-center" id="index_page">
        <div class="auth-box bg-dark">
            <div class="logo">
                <img src="../../../public/images/logo.png" style="align-items: center; width: 200px;height: 50px"
                     alt="stock88.com.vn"/>
            </div>
            <div id="loginform">
                <div ng-if="message == 'Authetication Failed !'">
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                </div>
                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>
                <!--<div class="text-center p-t-20 p-b-20">-->

                <!--<span class="db"><img src="./assets/images/logo.png" alt="logo"></span>-->
                <!--</div>-->

                <form class="form-horizontal m-t-20" ng-submit="vm.login()">
                    <div class="row p-b-30">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i
                                            class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" ng-model="username"
                                       placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                                       required="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white" id="basic-addon2"><i
                                            class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control form-control-lg" ng-model="password"
                                       placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
                                       required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="p-t-20">
                                    <button class="btn btn-success " type="submit">Đăng nhập</button>
                                    <a data-toggle="modal" data-target="#Modal12" class="btn btn-warning float-right">Quên
                                        mật khẩu</a>
                                    <a ui-sref="register" class="btn btn-success">Đăng ký </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<style>

    #index_page {
        background: url("../../../public/images/login.png");
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->