
<div class="main-wrapper">

    <div class="preloader" style="display: none;">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">

        <div class="auth-box bg-dark">
            <div id="loginform">
                <div ng-if="message == 'Authetication Failed !'">
                    <div class="alert alert-danger">
                        <strong>ERR!</strong> {{message}}.
                    </div>
                </div>
                <!--<div class="text-center p-t-20 p-b-20">-->

                <!--<span class="db"><img src="./assets/images/logo.png" alt="logo"></span>-->
                <!--</div>-->

                <form class="form-horizontal m-t-20" ng-submit="vm.login()">
                    <div class="row p-b-30">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i
                                            class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" ng-model="username"
                                       placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                                       required="">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white" id="basic-addon2"><i
                                            class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control form-control-lg" ng-model="password"
                                       placeholder="Password" aria-label="Password" aria-describedby="basic-addon1"
                                       required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="p-t-20">
                                    <a ui-sref="register" class="btn btn-info">Đăng ký thông tin</a>
                                    <a ui-sref="registers" class="btn btn-info">Đăng ký thông tin</a>
                                    <button class="btn btn-success float-right" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<script src="./assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->