.login{
    background-image: url('../images/login.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.login .header {
    text-align: center;
    background-color: #030535;
    padding: 10px 0;
}
.login .header  img{
    width: 200px;
}
.login .form-login{
    position: absolute;
    width: 30%;
    top: 5rem;
    left: 30rem;
    background-color: #fff;
}
.login .form-login form{
    padding: 20px 20px 0 20px;
}
hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #00d9ff;
    width: 50px;
}
.login .active{
    display: flex;
    align-items: center;
    position: relative;
}
.login .active .form-check{
    padding-left: 50px;
}
.login .active .forget-pass{
    position: absolute;
    right: 0;
}
.login .active .forget-pass a{
    color: #000;
}
.login button{
    width: 100%;
    margin-top: 30px;
    background-color: #00d9ff;
    border-color: #00d9ff;
    font-weight: 600;
}
.login .title{
    color: #030535;
    font-weight: 600;
    text-align: center;
}