
<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Lịch sử mua bán - Xử lý tài khoản</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="search-history">
                            <form>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Từ ngày</label>
                                            <input type="date" class="form-control" ng-change="vm.seHistory()" ng-model="THAMSO_NGAY1">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Đến ngày</label>
                                            <input type="date" class="form-control" ng-change="vm.seHistory()" ng-model="dateString">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Mã CK</label>
                                            <input type="text" class="form-control" ng-change="vm.seHistory()" ng-model="THAMSO_SYMBOL">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Loại giao dịch</label>
                                            <select class="form-control" ng-change="vm.seHistory()" ng-model="THAMSO_EXECTYPE">
                                                <option>Tất cả</option>
                                                <option>Mua</option>
                                                <option>Ban</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr ng-click="vm.showStockTrading()">
                            <th>Ngày</th>
                            <th>Mã CK</th>
                            <th>Lệnh</th>
                            <th>Loại giá</th>
                            <th>KL đặt</th>
                            <th>Giá đặt</th>
                            <th>KL Khớp</th>
                            <th>Giá khớp TB</th>
                            <th>KL hủy</th>
                            <th>Trạng thái</th>
                            <th>Phí chốt</th>
                            <th>Lãi/Lỗ</th>
                            <th>Thời gian</th>
                            <th>Active</th>
                        </tr>

                        </thead>
                        <tbody id="accordion">
                        <tr ng-repeat="historys in vm.history">
                            <td ng-click="vm.showStockTrading()">{{historys.txdate}}</td>
                            <td>{{historys.codeid}}</td>
                            <td>{{historys.exectype}}</td>
                            <td>{{historys.pricetype}}</td>
                            <td>{{historys.orderqtty}}</td>
                            <td>{{historys.quoteprice}}</td>
                            <td>{{historys.execqtty}}</td>
                            <td>{{historys.openprice}}</td>
                            <td>{{historys.cancelqtty}}</td>
                            <td>{{historys.orstatus}}</td>
                            <td>{{historys.closeprice}}</td>
                            <td>{{historys.profit}}</td>
                            <td>{{historys.txtime}}</td>
                            <td>
                                <div class="ic_active">
                                    <!-- <div ng-if="historys.CANCELQTTY === 0"> -->
                                    <!-- <img src="assets/images/ic_edit2.png" alt=""> -->
                                    <!-- <img src="public/images/ic_delete2.png" alt="" ng-click="vm.deleteTodo(historys)"> -->
                                    <!-- </div> -->
                                    <div ng-if="historys.clearday <= 0 && historys.clearday != null">
                                        <img src="public/images/ic_khoa.png" ng-click="vm.createNormalBan(historys)" alt="">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <script src="./assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="./assets/extra-libs/multicheck/jquery.multicheck.js"></script>

    <script src="./assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>