<div class="modalTockTrading">
    <div class="title">Thông tin chi tiết giao dịch cổ phiếu</div>
    <div class="content">
        <h3 style="color: red">Comming soon</h3>
        <!-- <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">KL</th>
                    <th rowspan="2">Giá</th>
                    <th rowspan="2">Trạng thái</th>
                    <th rowspan="2">KL Khớp</th>
                    <th rowspan="2">Giá khớp</th>
                    <th colspan="2">Chờ khớp</th>
                    <th colspan="2">Lãi/lỗ</th>
                    <th rowspan="2">+/- %</th>
                    <th rowspan="2">Thời gian</th>
                </tr>
            </thead>
            <tbody id="accordion">
                <tr>
                    <th>0214512102312131</th>
                    <td>2018-01-25</td>
                    <td>AAA</td>
                    <td>Mua</td>
                    <td>Auto</td>
                    <td>10</td>
                    <td>10.02</td>
                    <td>10</td>
                    <td>14.23</td>
                    <td>khớp</td>
                    <td>432</td>
                    <td>432</td>
                    <td>ProTrade</td>
                    <td>10:01:18</td>
                    <td>
                        <div class="ic_active">
                            <img src="../../../lib/icons/ic_edit2.png" alt="">
                            <img src="../../../lib/icons/ic_delete2.png" alt="">
                            <img src="../../../lib/icons/ic_khoa.png" alt="">
                        </div>
                    </td>
                </tr>
                

            </tbody>
        </table> -->
    </div>
</div>