<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Thông tin cá nhân</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">

                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <!-- <form onSubmit="if(!confirm('Bạn có chắc chắn muốn thực hiện?')){alert('Lệnh đã được hủy');return false;}" action="/withdrawal" method="post"> -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body">

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Mã tài khoản</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="acctno" ng-value="vm.user.acctno" placeholder="Mã tài khoản">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  class="col-sm-3 text-right control-label col-form-label">Họ và tên</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="fullname" ng-value="vm.user.fullname" placeholder="Họ và tên">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Ngày sinh</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" ng-model="dateofbirth" ng-value="vm.user.dateofbirth" placeholder="Ngày sinh">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Giới tính</label>
                                    <div class="col-sm-9">
                                        <select id="sex" name="sex" ng-model="sex" class="form-control" ng-value="vm.user.sex">
                                            <option value="">{{vm.user.sex}}</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Nu">Nữ</option>
                                            <option value="Other">Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label  class="col-sm-3 text-right control-label col-form-label">CMND</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" ng-model="idcode" ng-value="vm.user.idcode" placeholder="CMND">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Ngày cấp</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" ng-model="iddate" ng-value="vm.user.iddate" placeholder="Ngày cấp">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Nơi cấp</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="idplace" ng-value="vm.user.idplace" placeholder="Nơi cấp">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Địa chỉ</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="address" ng-value="vm.user.address" placeholder="Địa chỉ">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Số điện thoại</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" ng-model="phone" ng-value="vm.user.phone" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Tài khoản ngân hàng</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bankacctno" ng-value="vm.user.bankacctno" placeholder="Tài khoản ngân hàng">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Tên ngân hàng</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="bankname" ng-value="vm.user.bankname" placeholder="Tên ngân hàng">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" ng-model="email" ng-value="vm.user.email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Mật khẩu</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" ng-disabled="true" ng-model="pin" ng-value="vm.user.pin" placeholder="Mật khẩu">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Loại hình</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="accType"  name="accType" ng-model="accType" autofocus>
                                            <option value="">{{vm.user.typeName}}</option>
                                            <option ng-repeat="accnames in vm.acname" value="{{accnames.acType}}">{{accnames.typeName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="p-t-20" style="text-align: center">
                                    <button class="btn btn-primary btn-lg btn-info" type="submit" ng-click="vm.updateUserInfo()">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>




            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- </form> -->
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <script src="./assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="./assets/extra-libs/multicheck/jquery.multicheck.js"></script>

    <script src="./assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>