<!-- Modal -->

<!-- Modal -->


<header class="topbar" data-navbarbg="skin5">

    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i
                        class="ti-menu ti-close"></i>
            </a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b class="logo-icon p-l-10">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="./assets/images/logo-icon.png" alt="homepage" class="light-logo"/>

                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text">
                    <!-- dark Logo text -->
                    <img src="./assets/images/logo-text.png" alt="homepage" class="light-logo"/>

                </span>
                <!-- Logo icon -->
                <!-- <b class="logo-icon"> -->
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

                <!-- </b> -->
                <!--End Logo icon -->
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
               data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti-more"></i>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->

        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-left mr-auto">
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light"
                       href="javascript:void(0)" data-sidebartype="mini-sidebar">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- create new -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->

            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-right">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ vm.acctno }}
                    </a>
                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> -->
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown" ng-controller="headerCtrl as vm">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img
                                src="../../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti-user m-r-5 m-l-5"></i>
                            My
                            Profile
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti-wallet m-r-5 m-l-5"></i>
                            My
                            Balance
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti-email m-r-5 m-l-5"></i>
                            Inbox
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti-settings m-r-5 m-l-5"></i>
                            Account Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="vm.logout()">
                            <i class="fa fa-power-off m-r-5 m-l-5"></i>
                            Logout
                        </a>
                        <div class="dropdown-divider"></div>
                        <div class="p-l-30 p-10">
                            <a href="javascript:void(0)"
                               class="btn btn-sm btn-success btn-rounded">View
                                Profile
                            </a>
                        </div>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" ng-controller="headerCtrl as vm">

            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       aria-expanded="false" ui-sref="root.stock-trading">
                        <i class="fas fa-search-dollar"></i>
                        <span class="hide-menu">Lịch sử
                            giao dịch
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       aria-expanded="false" ui-sref="root.stock-tradinghits">
                        <i class="fas fa-history"></i>
                        <span class="hide-menu">Lịch sử
                            giao dịch hết hạn
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 1 || vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.xu-ly-tai-khoan">
                        <i class="fas fa-balance-scale"></i>
                        <span class="hide-menu">Xử lý tài khoản</span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 1 || vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.luong-chung">
                        <i class="fas fa-funnel-dollar"></i>
                        <span class="hide-menu">Luồng chung</span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 1 || vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.cap-tai-khoan">
                        <i class="fas fa-user-plus"></i>
                        <span class="hide-menu">Cấp tài
                            khoản
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 1 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.nop-tien">
                        <i class="fas fa-piggy-bank"></i>
                        <span class="hide-menu">Nạp
                            tiền
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.duyet-nop">
                        <i class="fas fa-clipboard-check"></i>
                        <span class="hide-menu">Duyệt
                            nạp
                            tiền
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 1 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.rut-tien">
                        <i class="fas fa-money-check-alt"></i>
                        <span class="hide-menu">Rút
                            tiền
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.duyet-rut">
                        <i class="fas fa-clipboard-check"></i>
                        <span class="hide-menu">Duyệt
                            rút tiền
                        </span>
                    </a>
                </li>
                <!--<li class="sidebar-item" ng-if="vm.isstaft == 2 || vm.isstaft == 3 ">-->
                    <!--<a-->
                            <!--class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"-->
                            <!--ui-sref="root.tham-so-he-thong">-->
                        <!--<i class="mdi mdi-relative-scale"></i>-->
                        <!--<span-->
                                <!--class="hide-menu">Tham số hệ thống-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="sidebar-item" ng-if="vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.tham-so">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">Quản lý tham số
                        </span>
                    </a>
                </li>
                <li class="sidebar-item" ng-if="vm.isstaft == 2 || vm.isstaft == 3 ">
                    <a
                            class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
                            ui-sref="root.chung-khoan">
                        <i class="fab fa-adversal"></i>
                        <span class="hide-menu">Quản lý chứng khoán
                        </span>
                    </a>
                </li>
                <!--<li class="sidebar-item">-->
                    <!--<a class="sidebar-link waves-effect waves-dark sidebar-link"-->
                       <!--aria-expanded="false">-->
                        <!--<i class="mdi mdi-view-dashboard"></i>-->
                        <!--<span class="hide-menu">Hướng-->
                            <!--dẫn-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<script src="./dist/js/sidebarmenu.js"></script>
<!--Wave Effects -->

<!--Menu sidebar -->

<!--Custom JavaScript -->
<script src="./dist/js/custom.min.js"></script>